.body
	padding 90px 180px 150px
	background-color #1f1e22
	&__row
		margin 0 -40px
		&:before
		&:after
			content ""
			display table
		&:after
			clear both
	&__col
		float left
		padding 0 40px
		width 50%
		&_left
			width 75%
		&_right
			width 25%
	hr
		border-width 4px
		border-color #121114